body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  padding: 0 1rem;
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-evenly;
}

div::-webkit-scrollbar {
  display: none;
}

* {
  scroll-behavior: smooth;
}

a.fabMenuLink {
  color: white;
}

div.skill {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.extraMargin {
  padding: 2rem;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.vitaSection {
  padding: 2rem;
  box-sizing: border-box;
  margin-bottom: 2rem;
  width: 100%;
}

section > h1 {
  padding-bottom: 2vh;
}

.vita-table-row {
  padding: 0.4rem;
  margin: 0.8rem 0 !important;
  border-radius: 8px;
  transition: .5s ease-in-out;
}

.vita-table-row:hover {
    background-color: rgba(255, 255, 255, 0.08);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.08)
}

.showCaseCard {
  padding: 2rem
}

.showCaseDiv {
  height: 45vh;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 4px;
}

.showCaseDiv a {
  position: absolute;
  bottom: 2vw;
  right: 4vw;
}

.contactCard {
  padding: 20px;
  max-width: clamp(300px, 15vw, 90vw);
  box-sizing: border-box;
  margin: auto
}

.contactCard * {
  margin: 4px;
}