body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(#222, #248);
}

section {
  padding: 0 1rem;
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-evenly;
}

.bgVideo {
  display: inline-block;
  min-width: 100vw;
  min-height: 100vh;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.videoContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  text-align: center
}

div::-webkit-scrollbar {
  display: none;
}

* {
  scroll-behavior: smooth;
}

a.fabMenuLink {
  color: white;
}

div.skill {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.extraMargin {
  padding: 2rem;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.vitaSection {
  padding: 2rem;
  box-sizing: border-box;
  margin-bottom: 2rem;
  width: 100%;
}

section > h1 {
  padding-bottom: 2vh;
}

#home span {
  color: white
}

.vita-table-row {
  padding: 0.4rem;
  margin: 0.8rem 0 !important;
  border-radius: 8px;
  transition: 0.5s ease-in-out;
}

.vita-table-row:hover {
  background-color: rgba(255, 255, 255, 0.08);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.08);
}

.showCaseCard {
  padding: 2rem;
}

.showCaseDiv {
  height: 45vh;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 4px;
}

.showCaseDiv a {
  position: absolute;
  bottom: 2vw;
  right: 4vw;
}

.contactCard {
  padding: 20px;
  max-width: clamp(300px, 15vw, 90vw);
  box-sizing: border-box;
  margin: auto;
}

.contactCard * {
  margin: 4px;
}

#copyright {
  color: white
}